<section class="about" id="about">
    <div class="container">
        <div class="title">
            <h2 class="title__title">About us</h2>
            <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>

        <div class="about__text">
            Phasellus eu malesuada neque, ut scelerisque nisl. Sed laoreet libero eget orci lobortis, convallis mattis metus porttitor. Nunc tempor nunc ac urna tincidunt, quis placerat nisl suscipit. Mauris viverra gravida metus, ac auctor purus convallis in.
        </div>

        <ol class="about__list">
            <li class="about__item">
                <svg class="about__icon">
                    <use xlink:href="#about-eye"></use>
                </svg>
                lorem ipsum
            </li>
            <div class="about__list-text">
                Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur.
            </div>
            <li class="about__item">
                <svg class="about__icon">
                    <use xlink:href="#about-brush"></use>
                </svg>
                lorem ipsum
            </li>
            <div class="about__list-text">
                Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur.
            </div>
            <li class="about__item">
                <svg class="about__icon">
                    <use xlink:href="#about-heart"></use>
                </svg>
                lorem ipsum
            </li>
            <div class="about__list-text">
                Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur.
            </div>
        </ol>

        <button class="btn btn--purple">download</button>

    </div><!-- /.container -->
</section>
