<section class="benefits">
    <div class="container">
        <div class="title">
            <h2 class="title__title title__title--white">Benefits</h2>
            <h3 class="title__suptitle title__suptitle--grey">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>

        <div class="benefits__text">
            Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum. Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum gravida. Aliquam venenatis in lacus eu fringilla. Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet. Quisque id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.
        </div>

        <div class="benefits__container">
            <div class="benefits__item">
                <div class="benefits__frame">
                    <svg class="benefits__icon">
                        <use xlink:href="#benefits-cup"></use>
                    </svg>
                </div>
                <div class="benefits__title">
                    Lorem ipsum
                </div>
                <div class="benefits__suptitle">
                    Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur. Etiam condimentum massa sed tortor feugiat, ac congue lectus dapibus.
                </div>
            </div><!-- /.benefits__item -->

            <div class="benefits__item">
                <div class="benefits__frame">
                    <svg class="benefits__icon">
                        <use xlink:href="#benefits-rocket"></use>
                    </svg>
                </div>
                <div class="benefits__title">
                    Lorem ipsum
                </div>
                <div class="benefits__suptitle">
                    Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur. Etiam condimentum massa sed tortor feugiat, ac congue lectus dapibus.
                </div>
            </div><!-- /.benefits__item -->

            <div class="benefits__item">
                <div class="benefits__frame">
                    <svg class="benefits__icon">
                        <use xlink:href="#benefits-flag"></use>
                    </svg>
                </div>
                <div class="benefits__title">
                    Lorem ipsum
                </div>
                <div class="benefits__suptitle">
                    Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna scelerisque consectetur. Etiam condimentum massa sed tortor feugiat, ac congue lectus dapibus.
                </div>
            </div><!-- /.benefits__item -->
        </div>
    </div>
</section>
