<section class="blog" id="blog">
    <div class="container">
        <div class="title">
            <h2 class="title__title">Latest Blog Posts</h2>
            <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>

        <div class="blog__inner">
            <div class="blog__post">
                <div class="blog__img">
                    ...
                </div>
                <div class="blog__title">Simple Blog Post</div>
                <div class="blog__line">
                    <div class="blog__item">
                        <svg class="blog__icon">
                            <use xlink:href="#blog-page"></use>
                        </svg>
                    </div>
                    <div class="blog__item">April 12, 2015</div>
                    <div class="blog__item">
                        <svg class="blog__icon">
                            <use xlink:href="#blog-bubble"></use>
                        </svg>
                    </div>
                    <div class="blog__item">No Comments</div>
                </div>
                <div class="blog__text">
                    Curabitur auctor nisi eu tortor ultrices mollis. In gravida velit massa, at ullamcorper nibh tempor commodo. Nunc ex arcu, vehicula id nisl ut, condimentum elementum felis.
                </div>
            </div><!-- /.blog__post -->
            <div class="blog__post">
                <div class="blog__img">
                    ...
                </div>
                <div class="blog__title">Simple Blog Post</div>
                <div class="blog__line">
                    <div class="blog__item">
                        <svg class="blog__icon">
                            <use xlink:href="#blog-page"></use>
                        </svg>
                    </div>
                    <div class="blog__item">April 12, 2015</div>
                    <div class="blog__item">
                        <svg class="blog__icon">
                            <use xlink:href="#blog-bubble"></use>
                        </svg>
                    </div>
                    <div class="blog__item">No Comments</div>
                </div>
                <div class="blog__text">
                    Curabitur auctor nisi eu tortor ultrices mollis. In gravida velit massa, at ullamcorper nibh tempor commodo. Nunc ex arcu, vehicula id nisl ut, condimentum elementum felis.
                </div>
            </div><!-- /.blog__post -->
            <div class="blog__post">
                <div class="blog__img">
                    ...
                </div>
                <div class="blog__title">Simple Blog Post</div>
                <div class="blog__line">
                    <div class="blog__item">
                        <svg class="blog__icon">
                            <use xlink:href="#blog-page"></use>
                        </svg>
                    </div>
                    <div class="blog__item">April 12, 2015</div>
                    <div class="blog__item">
                        <svg class="blog__icon">
                            <use xlink:href="#blog-bubble"></use>
                        </svg>
                    </div>
                    <div class="blog__item">No Comments</div>
                </div>
                <div class="blog__text">
                    Curabitur auctor nisi eu tortor ultrices mollis. In gravida velit massa, at ullamcorper nibh tempor commodo. Nunc ex arcu, vehicula id nisl ut, condimentum elementum felis.
                </div>
            </div><!-- /.blog__post -->
            <div class="blog__post">
                <div class="blog__img">
                    ...
                </div>
                <div class="blog__title">Simple Blog Post</div>
                <div class="blog__line">
                    <div class="blog__item">
                        <svg class="blog__icon">
                            <use xlink:href="#blog-page"></use>
                        </svg>
                    </div>
                    <div class="blog__item">April 12, 2015</div>
                    <div class="blog__item">
                        <svg class="blog__icon">
                            <use xlink:href="#blog-bubble"></use>
                        </svg>
                    </div>
                    <div class="blog__item">No Comments</div>
                </div>
                <div class="blog__text">
                    Curabitur auctor nisi eu tortor ultrices mollis. In gravida velit massa, at ullamcorper nibh tempor commodo. Nunc ex arcu, vehicula id nisl ut, condimentum elementum felis.
                </div>
            </div><!-- /.blog__post -->
        </div>
    </div>
</section>
