<section class="contact">
    <div class="container">
        <div class="title">
            <h2 class="title__title">Contact us</h2>
            <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>

        <div class="contacts">
            <a class="contact__link" href="#">
                <span>
                    <svg class="contact__icon">
                        <use xlink:href="#contact-map"></use>
                    </svg>
                </span>
                1425 High Camp Avenue
            </a>
            <a class="contact__link" href="tel:444-555-1111">
                <span>
                    <svg class="contact__icon">
                        <use xlink:href="#contact-cell"></use>
                    </svg>
                </span>
                444-555-1111
            </a>
            <a class="contact__link" href="mailto:office@email.com">
                <span>
                    <svg class="contact__icon">
                        <use xlink:href="#contact-envelope"></use>
                    </svg>
                </span>
                office@email.com
            </a>
        </div><!-- /.contacts -->
    </div><!-- /.container -->

    <div class="contact__blackback">
        ...
    </div>

    <div class="container">
        <div class="contact__title">Aliquam dapibus massa diam.</div>
        <div class="contact__form">
            <input class="contact__input" type="text" placeholder="First Name*">
            <input class="contact__input" type="text" placeholder="Last Name*">
            <input class="contact__input contact__input--100" type="text" placeholder="Email*">
            <input class="contact__input contact__input--100" type="text" placeholder="Subject">
            <textarea class="input__textarea">Message</textarea>
        </div>
        <button class="btn btn--purple btn--contact">send</button>
    </div>

</section>


















