<section class="facts">
    <div class="container">
        <div class="facts__title">Here's some interesting facts about our company.</div>
        <div class="facts__suptitle">
            Lorem ipsum dolor sit amet, id iusto oportere mel.
        </div>

        <div class="facts__box">

            <div class="facts__item">
                <div class="facts__num">
                    1258
                </div>
                <div class="facts__text">
                    cups of coffee
                </div>
            </div>
            <div class="facts__item">
                <div class="facts__num">
                    63
                </div>
                <div class="facts__text">
                    new clients
                </div>
            </div>
            <div class="facts__item">
                <div class="facts__num">
                    421
                </div>
                <div class="facts__text">
                    completed projects
                </div>
            </div>
            <div class="facts__item">
                <div class="facts__num">
                    562
                </div>
                <div class="facts__text">
                    happy clients
                </div>
            </div>

        </div><!-- /.facts__box -->
    </div>
</section>
