<section class="faq">
    <div class="container">
        <div class="faq__inner">

            <div class="faq__item">
                <div class="accordion">
                <div class="accordion__card">
                    <div class="accordion__title accordion__title--active">
                        <div class="accordion__title-header">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <button class="accordion__title-btn">
                            <span class="accordion__title-plus">+</span>
                            <span class="accordion__title-minus accordion__title-minus--active">-</span>
                        </button>
                    </div>
                    <div class="accordion__text accordion__text--active">
                        Praesent in purus tortor. Integer id augue ultricies, porta dolor quis, accumsan est. Pellentesque facilisis vehicula consequat. Nam magna justo, suscipit id libero ac, vulputate convallis nisi. Sed sagittis, nisi in pharetra bibendum, orci augue sollicitudin mauris, eu commodo magna risus a lorem. Sed dui ex, malesuada et velit et, rhoncus maximus est. Mauris tempus sagittis massa nec consectetur.
                    </div>
                </div><!-- /. accordion__card -->
                <div class="accordion__card">
                    <div class="accordion__title">
                        <div class="accordion__title-header">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <button class="accordion__title-btn">
                            <span class="accordion__title-plus accordion__title-plus--active">+</span>
                            <span class="accordion__title-minus">-</span>
                        </button>
                    </div>
                    <div class="accordion__text">
                        Praesent in purus tortor. Integer id augue ultricies, porta dolor quis, accumsan est. Pellentesque facilisis vehicula consequat. Nam magna justo, suscipit id libero ac, vulputate convallis nisi. Sed sagittis, nisi in pharetra bibendum, orci augue sollicitudin mauris, eu commodo magna risus a lorem. Sed dui ex, malesuada et velit et, rhoncus maximus est. Mauris tempus sagittis massa nec consectetur.
                    </div>
                </div><!-- /. accordion__card -->
                <div class="accordion__card">
                    <div class="accordion__title">
                        <div class="accordion__title-header">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <button class="accordion__title-btn">
                            <span class="accordion__title-plus accordion__title-plus--active">+</span>
                            <span class="accordion__title-minus">-</span>
                        </button>
                    </div>
                    <div class="accordion__text">
                        Praesent in purus tortor. Integer id augue ultricies, porta dolor quis, accumsan est. Pellentesque facilisis vehicula consequat. Nam magna justo, suscipit id libero ac, vulputate convallis nisi. Sed sagittis, nisi in pharetra bibendum, orci augue sollicitudin mauris, eu commodo magna risus a lorem. Sed dui ex, malesuada et velit et, rhoncus maximus est. Mauris tempus sagittis massa nec consectetur.
                    </div>
                </div><!-- /. accordion__card -->
                <div class="accordion__card">
                    <div class="accordion__title">
                        <div class="accordion__title-header">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <button class="accordion__title-btn">
                            <span class="accordion__title-plus accordion__title-plus--active">+</span>
                            <span class="accordion__title-minus">-</span>
                        </button>
                    </div>
                    <div class="accordion__text">
                        Praesent in purus tortor. Integer id augue ultricies, porta dolor quis, accumsan est. Pellentesque facilisis vehicula consequat. Nam magna justo, suscipit id libero ac, vulputate convallis nisi. Sed sagittis, nisi in pharetra bibendum, orci augue sollicitudin mauris, eu commodo magna risus a lorem. Sed dui ex, malesuada et velit et, rhoncus maximus est. Mauris tempus sagittis massa nec consectetur.
                    </div>
                </div><!-- /. accordion__card -->



            </div>
            </div><!-- /.faq__item -->

            <div class="faq__item">
                <div class="tab">

                    <div class="tab__header">
                        <div class="tab__header-item tab__header-item--active" data-num="0">
                            Lorem ipsum
                        </div>
                        <div class="tab__header-item" data-num="1">
                            Lorem ipsum
                        </div>
                        <div class="tab__header-item" data-num="2">
                            Lorem ipsum
                        </div>
                    </div>

                    <div class="tab__content tab__content--active">
                        <p class="tab__text">
                            1Praesent in purus tortor. Integer id augue ultricies, porta dolor quis, accumsan est. Pellentesque facilisis vehicula consequat. Nam magna justo, suscipit id libero ac, vulputate convallis nisi.
                        </p>
                        <ul class="tab__ul">
                            <li>Integer ac vehicula mauris</li>
                            <li>Phasellus sed vestibulum</li>
                            <li>Suspendisse potenti</li>
                            <li>Pellentesque congue</li>
                        </ul>
                        <p class="tab__text">
                            Integer ac vehicula mauris, sed posuere velit. Pellentesque posuere lobortis ultrices. Aenean mattis blandit ex ut cursus. Donec blandit nibh et dui dignissim, id tristique dui euismod. Maecenas et dictum sem, sit amet tempus augue.
                        </p>
                    </div><!-- /.tab__content -->
                    <div class="tab__content">
                        <p class="tab__text">
                            2Praesent in purus tortor. Integer id augue ultricies, porta dolor quis, accumsan est. Pellentesque facilisis vehicula consequat. Nam magna justo, suscipit id libero ac, vulputate convallis nisi.
                        </p>
                        <ul class="tab__ul">
                            <li>Integer ac vehicula mauris</li>
                            <li>Phasellus sed vestibulum</li>
                            <li>Suspendisse potenti</li>
                            <li>Pellentesque congue</li>
                        </ul>
                        <p class="tab__text">
                            Integer ac vehicula mauris, sed posuere velit. Pellentesque posuere lobortis ultrices. Aenean mattis blandit ex ut cursus. Donec blandit nibh et dui dignissim, id tristique dui euismod. Maecenas et dictum sem, sit amet tempus augue.
                        </p>
                    </div><!-- /.tab__content -->
                    <div class="tab__content">
                        <p class="tab__text">
                            3Praesent in purus tortor. Integer id augue ultricies, porta dolor quis, accumsan est. Pellentesque facilisis vehicula consequat. Nam magna justo, suscipit id libero ac, vulputate convallis nisi.
                        </p>
                        <ul class="tab__ul">
                            <li>Integer ac vehicula mauris</li>
                            <li>Phasellus sed vestibulum</li>
                            <li>Suspendisse potenti</li>
                            <li>Pellentesque congue</li>
                        </ul>
                        <p class="tab__text">
                            Integer ac vehicula mauris, sed posuere velit. Pellentesque posuere lobortis ultrices. Aenean mattis blandit ex ut cursus. Donec blandit nibh et dui dignissim, id tristique dui euismod. Maecenas et dictum sem, sit amet tempus augue.
                        </p>
                    </div><!-- /.tab__content -->
                </div><!-- /.tab -->
            </div><!-- /.faq__item -->

        </div><!-- /.faq__inner -->
    </div><!-- /.container -->
</section>
