<footer class="footer">
    <div class="footer__inner">
        <div class="container">
            <div class="row justify-content-between">

                <div class="footer__item col-lg-7 col-md-11">
                    <div class="footer__title">About us</div>
                    <p class="footer__p">
                        Duis consectetur aliquam diam, vel ultrices urna. Nam sodales eu ante sed dictum. Integer sed porta ligula, ac suscipit sem. Donec turpis ligula, vehicula vel lorem at, blandit fermentum diam. In fermentum orci et hendrerit blandit.
                    </p>
                    <p class="footer__p">
                        Nulla tincidunt facilisis fringilla. Fusce tempor erat nec quam malesuada, eget tristique erat varius. Etiam lobortis, felis sit amet iaculis malesuada, neque turpis ultricies mi, eget facilisis metus libero sed sapien.
                    </p>
                </div><!-- /.footer__item -->
                <div class="footer__item col-lg-7 col-md-11">
                    <div class="footer__header">
                        <div class="footer__title">Recent Tweets</div>
                        <div class="footer__suptitle">@TwitterUserName</div>
                    </div>

                    <p class="footer__p">
                        <span class="footer__white">@Nullam</span>
                        nunc velit, sodales vitae mollis vel, porttitor ut dolor. Fusce varius risus maximus massa
                        <span class="footer__white">#fermentum</span>
                        auctor.
                        <span class="footer__white">http://example.com</span>
                    </p>
                    <div class="footer__date">about 2 hours ago</div>
                    <p class="footer__p">
                        <span class="footer__white">@Nullam</span>
                        nunc velit, sodales vitae mollis vel, porttitor ut dolor. Fusce varius risus maximus massa
                        <span class="footer__white">#fermentum</span>
                        auctor.
                        <span class="footer__white">http://example.com</span>
                    </p>

                </div><!-- /.footer__item -->
                <div class="footer__item col-lg-7 col-md-11">
                    <div class="footer__title">Subscribe</div>
                    <p class="footer__p">
                        Sed vel mi augue. Morbi dui arcu,  vestibulum eget tortor ut, venenatis
                    </p>
                    <input class="footer__input "type="text" placeholder="Email">
                    <button class="btn btn--purple btn--footer">download</button>
                </div><!-- /.footer__item -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer__inner -->
    <div class="container">
        <div class="footer__line">
            <div class="footer__line-text">
                © Copyright Amethyst
            </div>
            <div class="footer__line-links">
                <a class="footer__line-link" href="https://www.facebook.com/" target="_blank">
                    <svg class="footer__line-icon">
                        <use xlink:href="#footer-facebook"></use>
                    </svg>
                </a>
                <a class="footer__line-link" href="https://ru.linkedin.com/" target="_blank">
                    <svg class="footer__line-icon">
                        <use xlink:href="#footer-linkedin"></use>
                    </svg>
                </a>
                <a class="footer__line-link" href="https://twitter.com/" target="_blank">
                    <svg class="footer__line-icon">
                        <use xlink:href="#footer-twitter"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
