<section class="header">
    <div class="header__inner">
        <div class="container">
            <div class="row">

                <div class="header__item col-lg-3 col-md-4">
                    <a class="header__item-link" href="https://www.facebook.com/" target="_blank">
                        <svg class="header__item-icon">
                            <use xlink:href="#header-facebook"></use>
                        </svg>
                    </a>
                    <a class="header__item-link" href="https://www.youtube.com/channel/UCKz7zeOOpvAy5qs7sCy7QhA" target="_blank">
                        <svg class="header__item-icon">
                            <use xlink:href="#header-linkedin"></use>
                        </svg>
                    </a>
                    <a class="header__item-link" href="https://twitter.com/" target="_blank">
                        <svg class="header__item-icon">
                            <use xlink:href="#header-twitter"></use>
                        </svg>
                    </a>
                </div>

                <div class="header__item header__item--bl col-lg-5 col-md-7 ml-auto">
                    <div class="header__item-text">
                    <span>E-mail: </span><a class="header__item-addlink" href="mailto:info@example.com">info@example.com</a>
                    </div>
                </div>

                <div class="header__item header__item--no-br col-lg-5 col-md-6">
                    <div class="header__item-text">
                    <span>Phone: </span><a class="header__item-addlink" href="tel:+00 123 456 78">+00 123 456 78</a>
                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header__inner -->

    <div class="header__nav" id="header-nav">
        <h3 class="header__logo">Amethys</h3>

        <div class="container">
            <button class="header__toggle" id="header-toggle">...</button>
        </div>

        <nav class="nav">
            <a class="nav__item" href="#" data-scroll="#about">about</a>
            <a class="nav__item" href="#" data-scroll="#works">works</a>
            <a class="nav__item" href="#" data-scroll="#services">features</a>
            <a class="nav__item" href="#" data-scroll="#team">team</a>
            <a class="nav__item" href="#" data-scroll="#prices">prices</a>
            <a class="nav__item" href="#" data-scroll="#blog">blog</a>
        </nav>

    </div>

    <main class="main">
        <div class="container">
            <div class="main__inner">
                <div class="main__slider" id="main-slider">
                    <div>
                        <h1 class="main__title">Amethyst</h1>
                        <h2 class="main__suptitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

                        <div class="main__text">
                            Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel.
                        </div>
                        <button class="btn">View more</button>
                    </div>
                    <div>
                        <h1 class="main__title">Amethyst</h1>
                        <h2 class="main__suptitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

                        <div class="main__text">
                            Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel.
                        </div>
                        <button class="btn">View more</button>
                    </div>
                    <div>
                        <h1 class="main__title">Amethyst</h1>
                        <h2 class="main__suptitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

                        <div class="main__text">
                            Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel.
                        </div>
                        <button class="btn">View more</button>
                    </div>
                    <div>
                        <h1 class="main__title">Amethyst</h1>
                        <h2 class="main__suptitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

                        <div class="main__text">
                            Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel.
                        </div>
                        <button class="btn">View more</button>
                    </div>
                    <div>
                        <h1 class="main__title">Amethyst</h1>
                        <h2 class="main__suptitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

                        <div class="main__text">
                            Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel.
                        </div>
                        <button class="btn">View more</button>
                    </div>
                </div><!-- /.main__slider -->

                <div class="main__arrow-cover" id="main-arrow-prev">
                    <button class="main__arrow">
                        <svg class="main__icon">
                            <use xlink:href="#main-arrow"></use>
                        </svg>
                    </button>
                </div>
                <div class="main__arrow-cover main__arrow-cover--right" id="main-arrow-next">
                    <button class="main__arrow">
                        <svg class="main__icon">
                            <use xlink:href="#main-arrow"></use>
                        </svg>
                    </button>
                </div>

            </div><!-- /.main__inner -->
        </div><!-- /.container -->
    </main>
</section><!-- /.header -->
