<section class="pricing" id="prices">
    <div class="container">
        <div class="title">
            <h2 class="title__title">Pricing Plan Available</h2>
            <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>


        <div class="pricing__btn-container">
            <button class="pricing__btn pricing__btn--active" id="pricing-btn1">monthly</button>
            <button class="pricing__btn" id="pricing-btn2">yearly</button>
        </div>

        <div class="pricing__container">
            <div class="pricing__item">
                <div class="pricing__title">basic</div>
                <div class="pricing__price">
                    $10<span class="pricing__price--small">/mo</span>
                </div>
                <ul class="pricing__ul">
                    <li class="pricing__li">24/7 Tech Support</li>
                    <li class="pricing__li">Advanced Option</li>
                    <li class="pricing__li">10GB Storage</li>
                    <li class="pricing__li">1GB Bandwidth</li>
                    <li class="pricing__li">512 Memory</li>
                    <li class="pricing__li">10 Free Domain</li>
                </ul>

                <button class="btn btn--prising">download</button>
            </div><!-- /.pricing__item -->
            <div class="pricing__item">
                <div class="pricing__title pricing__title--red">popular</div>
                <div class="pricing__price pricing__price--red">
                    $40<span class="pricing__price--small">/mo</span>
                </div>
                <ul class="pricing__ul">
                    <li class="pricing__li">24/7 Tech Support</li>
                    <li class="pricing__li">Advanced Option</li>
                    <li class="pricing__li">10GB Storage</li>
                    <li class="pricing__li">1GB Bandwidth</li>
                    <li class="pricing__li">512 Memory</li>
                    <li class="pricing__li">10 Free Domain</li>
                </ul>

                <button class="btn btn--prising">download</button>
            </div><!-- /.pricing__item -->
            <div class="pricing__item">
                <div class="pricing__title pricing__title--orange">premier</div>
                <div class="pricing__price pricing__price--orange">
                    $80<span class="pricing__price--small">/mo</span>
                </div>
                <ul class="pricing__ul">
                    <li class="pricing__li">24/7 Tech Support</li>
                    <li class="pricing__li">Advanced Option</li>
                    <li class="pricing__li">10GB Storage</li>
                    <li class="pricing__li">1GB Bandwidth</li>
                    <li class="pricing__li">512 Memory</li>
                    <li class="pricing__li">10 Free Domain</li>
                </ul>

                <button class="btn btn--prising">download</button>
            </div><!-- /.pricing__item -->
        </div><!-- /.pricing__container -->


    </div><!-- /.container -->
</section>
