<section class="services" id="services">

   <div class="title">
            <h2 class="title__title">Our services</h2>
            <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>
    <div class="services__container">

        <div class="services__item">
           <div class="services__row">
                <div class="services__detail">
                    <a class="services__link services__link--active" href="#" data-num="0">
                        <svg class="services__icon">
                            <use xlink:href="#services-monitor"></use>
                        </svg>
                    </a>
                    <div class="services__title">Web Design</div>
                </div>
                <div class="services__detail">
                    <a class="services__link" href="#" data-num="1">
                        <svg class="services__icon">
                            <use xlink:href="#services-brush"></use>
                        </svg>
                    </a>
                    <div class="services__title">Graphic Design</div>
                </div>
            </div>
            <div class="services__row">
                <div class="services__detail">
                    <a class="services__link" href="#" data-num="2">
                        <svg class="services__icon">
                            <use xlink:href="#services-heart"></use>
                        </svg>
                    </a>
                    <div class="services__title">Branding</div>
                </div>
                <div class="services__detail">
                    <a class="services__link" href="#" data-num="3">
                        <svg class="services__icon">
                            <use xlink:href="#services-bomb"></use>
                        </svg>
                    </a>
                    <div class="services__title">Marketing</div>
                </div>
            </div>
            <div class="services__row">
                <div class="services__detail">
                    <a class="services__link" href="#" data-num="4">
                        <svg class="services__icon">
                            <use xlink:href="#services-laptop"></use>
                        </svg>
                    </a>
                    <div class="services__title">Development</div>
                </div>
                <div class="services__detail">
                    <a class="services__link" href="#" data-num="5">
                        <svg class="services__icon">
                            <use xlink:href="#services-up"></use>
                        </svg>
                    </a>
                    <div class="services__title">SEO</div>
                </div>
            </div>
        </div><!-- /services__item -->

        <div class="services__item services__item--gray">
            <div class="services__slider" id="services-slider">
                <div class="services__slider-item">
                    <div class="services__text">
                        <p class="services__p">
                            Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum. Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum gravida. Aliquam venenatis in lacus eu fringilla.
                        </p>
                        <p class="services__p">
                            Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet. Quisque id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.
                        </p>
                        <p class="services__p">
                            Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
                        </p>
                    </div><!-- /.services__text -->
                </div><!-- /.services__slider-item -->
                <div class="services__slider-item">
                    <div class="services__text">
                        <p class="services__p">
                            Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum. Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum gravida. Aliquam venenatis in lacus eu fringilla.
                        </p>
                        <p class="services__p">
                            Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet. Quisque id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.
                        </p>
                        <p class="services__p">
                            Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
                        </p>
                    </div><!-- /.services__text -->
                </div><!-- /.services__slider-item -->
                <div class="services__slider-item">
                    <div class="services__text">
                        <p class="services__p">
                            Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum. Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum gravida. Aliquam venenatis in lacus eu fringilla.
                        </p>
                        <p class="services__p">
                            Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet. Quisque id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.
                        </p>
                        <p class="services__p">
                            Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
                        </p>
                    </div><!-- /.services__text -->
                </div><!-- /.services__slider-item -->
                <div class="services__slider-item">
                    <div class="services__text">
                        <p class="services__p">
                            Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum. Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum gravida. Aliquam venenatis in lacus eu fringilla.
                        </p>
                        <p class="services__p">
                            Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet. Quisque id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.
                        </p>
                        <p class="services__p">
                            Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
                        </p>
                    </div><!-- /.services__text -->
                </div><!-- /.services__slider-item -->
                <div class="services__slider-item">
                    <div class="services__text">
                        <p class="services__p">
                            Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum. Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum gravida. Aliquam venenatis in lacus eu fringilla.
                        </p>
                        <p class="services__p">
                            Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet. Quisque id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.
                        </p>
                        <p class="services__p">
                            Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
                        </p>
                    </div><!-- /.services__text -->
                </div><!-- /.services__slider-item -->
                <div class="services__slider-item">
                    <div class="services__text">
                        <p class="services__p">
                            Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum. Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum gravida. Aliquam venenatis in lacus eu fringilla.
                        </p>
                        <p class="services__p">
                            Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet. Quisque id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.
                        </p>
                        <p class="services__p">
                            Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
                        </p>
                    </div><!-- /.services__text -->
                </div><!-- /.services__slider-item -->
            </div><!-- /.services__slider -->
        </div><!-- /.services__item -->

    </div><!-- /.services__container -->

</section>
