<section class="skills">
    <div class="container">
        <div class="title">
            <h2 class="title__title">Our Skills</h2>
            <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>

        <div class="skills__wrapper">
            <div class="skills__container skills__container--height">
                <p class="skills__p">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum nec efficitur diam. Morbi viverra felis quis urna ultricies gravida. Vivamus id dapibus leo.</p>

                <p class="skills__p">Cras molestie rutrum magna quis hendrerit. Suspendisse sed odio rhoncus, accumsan elit in, elementum risus. Nam eu vulputate tortor. Aliquam facilisis sem eget ex dictum, id elementum sem efficitur.</p>

                <p class="skills__p">Vivamus eget turpis vestibulum, blandit nisi in, rhoncus magna. In ac condimentum elit, sit amet gravida sapien.</p>

                <p class="skills__p">Vestibulum sed enim sodales diam cursus malesuada. Morbi at laoreet nunc. Mauris ornare arcu sit amet lorem sagittis, non tempor ante venenatis. Suspendisse posuere maximus neque, a tincidunt urna tempor id.</p>

            </div><!-- /.skills__container -->

            <div class="skills__container skills__container--mt">
                <div class="skills__item">
                    <div class="skills__text">
                        Lorem ipsum
                        <span class="skills__percent">80</span>
                    </div>
                    <div class="skills__scale">
                        ...
                        <div class="skills__scale-color">...</div>
                    </div>

                </div>
                <div class="skills__item">
                    <div class="skills__text">
                        Lorem ipsum
                        <span class="skills__percent skills__percent--97">97</span>
                    </div>
                    <div class="skills__scale">
                        ...
                        <div class="skills__scale-color skills__scale-color--97">...</div>
                    </div>

                </div>
                <div class="skills__item">
                    <div class="skills__text">
                        Lorem ipsum
                        <span class="skills__percent skills__percent--65">65</span>
                    </div>
                    <div class="skills__scale">
                        ...
                        <div class="skills__scale-color skills__scale-color--65">...</div>
                    </div>

                </div>
                <div class="skills__item">
                    <div class="skills__text">
                        Lorem ipsum
                        <span class="skills__percent skills__percent--72">72</span>
                    </div>
                    <div class="skills__scale">
                        ...
                        <div class="skills__scale-color skills__scale-color--72">...</div>
                    </div>

                </div>
            </div><!-- /.skills__container -->
        </div>

        <div class="skills__img">...</div>

    </div>
</section>
