<section class="subscribe">
    <div class="container">
        <div class="title">
            <h2 class="title__title title__title--white">Follow Us</h2>
            <h3 class="title__suptitle title__suptitle--white">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>

        <div class="subscribe__links">

            <a class="subscribe__link" href="https://www.facebook.com/" target="_blank">
                <svg class="subscribe__icon">
                    <use xlink:href="#subscribe-facebook"></use>
                </svg>
            </a>
            <a class="subscribe__link" href="https://ru.linkedin.com/" target="_blank">
                <svg class="subscribe__icon">
                    <use xlink:href="#subscribe-linkedin"></use>
                </svg>
            </a>
            <a class="subscribe__link" href="https://twitter.com" target="_blank">
                <svg class="subscribe__icon">
                    <use xlink:href="#subscribe-twitter"></use>
                </svg>
            </a>

        </div>

    </div><!-- /.container -->
</section>
