<section class="team" id="team">
    <div class="container">
        <div class="title">
            <h2 class="title__title">Our Team</h2>
            <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>

        <div class="team__container">
            <div class="team__item">
                <div class="team__img">...</div>
                <div class="team__name">
                    Richard Jones
                </div>
                <div class="team__position">
                    Android Developer
                </div>
                <div class="team__text">
                    Vivamus porta et nunc vitae lacinia. Nam sed fermentum metus. Maecenas ut tortor mi. Maecenas pellentesque ex in bibendum euismod.
                </div>
                <div class="team__socials">
                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-facebook"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-linkedin"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-twitter"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-envelope"></use>
                        </svg>
                    </a>
                </div>
            </div><!-- /.team__item -->

            <div class="team__item">
                <div class="team__img">...</div>
                <div class="team__name">
                    Megan Turner
                </div>
                <div class="team__position">
                    Print Designer
                </div>
                <div class="team__text">
                    Vivamus porta et nunc vitae lacinia. Nam sed fermentum metus. Maecenas ut tortor mi. Maecenas pellentesque ex in bibendum euismod.
                </div>
                <div class="team__socials">
                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-facebook"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-linkedin"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-twitter"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-envelope"></use>
                        </svg>
                    </a>
                </div>
            </div><!-- /.team__item -->

            <div class="team__item">
                <div class="team__img">...</div>
                <div class="team__name">
                    Victor Green
                </div>
                <div class="team__position">
                    IT Programmer
                </div>
                <div class="team__text">
                    Vivamus porta et nunc vitae lacinia. Nam sed fermentum metus. Maecenas ut tortor mi. Maecenas pellentesque ex in bibendum euismod.
                </div>
                <div class="team__socials">
                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-facebook"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-linkedin"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-twitter"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-envelope"></use>
                        </svg>
                    </a>
                </div>
            </div><!-- /.team__item -->

            <div class="team__item">
                <div class="team__img">...</div>
                <div class="team__name">
                    Amy Watkins
                </div>
                <div class="team__position">
                    Digital Marketing Specialist
                </div>
                <div class="team__text">
                    Vivamus porta et nunc vitae lacinia. Nam sed fermentum metus. Maecenas ut tortor mi. Maecenas pellentesque ex in bibendum euismod.
                </div>
                <div class="team__socials">
                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-facebook"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-linkedin"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-twitter"></use>
                        </svg>
                    </a>

                    <a class="team__link" href="#">
                        <svg class="team__icon">
                            <use xlink:href="#team-envelope"></use>
                        </svg>
                    </a>
                </div>
            </div><!-- /.team__item -->

        </div>
    </div>
</section>
