<section class="tesimonials">
    <div class="container">
        <div class="title">
            <h2 class="title__title">Testimonials</h2>
            <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
        </div>

        <div class="tesimonials__text">
            Fusce libero enim, iaculis ac auctor et, sollicitudin non lacus. Pellentesque turpis lacus, aliquet in ornare at, laoreet vel quam. Aliquam tempor nibh a nisi cursus varius. Pellentesque non blandit dui. Cras a pellentesque libero, vel ornare mi. Nulla imperdiet dui sit amet vulputate tempor. Cras non ligula turpis. Quisque neque felis, facilisis ut metus eget, volutpat porttitor sapien. Curabitur quis elit eget nibh fringilla tincidunt
        </div>

        <div class="tesimonials__slider" id="tesimonials-slider">
            <div>
                <div class="tesimonials__item">
                    <div class="tesimonials__img">...</div>
                    <div class="tesimonials__box">
                        <div class="tesimonials__name">
                            Jake Peterson
                        </div>
                        <div class="tesimonials__post">
                            Product Designer
                        </div>
                    </div>
                </div><!-- /.tesimonials__item -->
            </div>

            <div>
                <div class="tesimonials__item">
                    <div class="tesimonials__img">...</div>
                    <div class="tesimonials__box">
                        <div class="tesimonials__name">
                            Jake Peterson
                        </div>
                        <div class="tesimonials__post">
                            Product Designer
                        </div>
                    </div>
                </div><!-- /.tesimonials__item -->
            </div>

            <div>
                <div class="tesimonials__item">
                    <div class="tesimonials__img">...</div>
                    <div class="tesimonials__box">
                        <div class="tesimonials__name">
                            Jake Peterson
                        </div>
                        <div class="tesimonials__post">
                            Product Designer
                        </div>
                    </div>
                </div><!-- /.tesimonials__item -->
            </div>

            <div>
                <div class="tesimonials__item">
                    <div class="tesimonials__img">...</div>
                    <div class="tesimonials__box">
                        <div class="tesimonials__name">
                            Jake Peterson
                        </div>
                        <div class="tesimonials__post">
                            Product Designer
                        </div>
                    </div>
                </div><!-- /.tesimonials__item -->
            </div>

            <div>
                <div class="tesimonials__item">
                    <div class="tesimonials__img">...</div>
                    <div class="tesimonials__box">
                        <div class="tesimonials__name">
                            Jake Peterson
                        </div>
                        <div class="tesimonials__post">
                            Product Designer
                        </div>
                    </div>
                </div><!-- /.tesimonials__item -->
            </div>

        </div><!-- /.tesimonials__slider -->

        <div class="company__slider-cover">
            <div class="company__slider" id="company-slider">
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-1.jpg" alt="company-1">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-2.jpg" alt="company-2">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-3.jpg" alt="company-3">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-4.jpg" alt="company-4">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-5.jpg" alt="company-5">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-1.jpg" alt="company-1">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-1.jpg" alt="company-1">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-2.jpg" alt="company-2">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-3.jpg" alt="company-3">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-4.jpg" alt="company-4">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-5.jpg" alt="company-5">
                </div>
                <div class="company__item">
                    <img class="company__img" src="img/companies/company-1.jpg" alt="company-1">
                </div>
            </div><!-- /.company__slider -->

            <div class="company__arrow-cover" id="company-arrow-prev">
                <button class="company__arrow">
                    <svg class="company__icon">
                        <use xlink:href="#company-arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="company__arrow-cover company__arrow-cover--right" id="company-arrow-next">
                <button class="company__arrow">
                    <svg class="company__icon">
                        <use xlink:href="#company-arrow"></use>
                    </svg>
                </button>
            </div>
        </div><!-- /.company__slider-cover -->
    </div><!-- /.container -->
</section>
