<section class="works" id="works">
    <div class="title">
        <h2 class="title__title">Works</h2>
        <h3 class="title__suptitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor porta.</h3>
    </div>

    <nav class="works-nav">
        <a class="works-nav__item works-nav__item--active" href="#">all</a>
        <a class="works-nav__item" href="#">design</a>
        <a class="works-nav__item" href="#">urban</a>
    </nav>

    <div class="works-list">
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-1">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-2">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgd-1">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-2">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-1">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-2">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-1">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-3">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-1">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-2">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-1">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgd-1">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
        <div class="works-list__item">
            <div class="works-list__face">
                <div class="works__title">
                    Lorem Ipsum
                </div>
                <div class="works__text">
                    Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                </div>
                <div class="works-list__back works-list__back--bgl-2">
                    ...
                </div>
            </div><!-- /.works-list__face -->
        </div><!-- /.works-list__item -->
    </div><!-- /.works-list -->

    <div class="works-cards">
       <div class="container">
           <div class="row">
                <div class="works-cards__item col-xl-6 col-lg-8 ml-auto mr-auto">
                    <div class="works-cards__box">
                        <svg class="works-cards__icon">
                            <use xlink:href="#works-laptop"></use>
                        </svg>
                    </div>
                    <div class="works-cards__title">lorem ipsum</div>
                    <div class="works-cards__text">
                        Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                    </div>
                </div><!-- /.works-cards__item -->
                <div class="works-cards__item col-xl-6 col-lg-8 ml-auto mr-auto">
                    <div class="works-cards__box">
                        <svg class="works-cards__icon">
                            <use xlink:href="#works-eye"></use>
                        </svg>
                    </div>
                    <div class="works-cards__title">lorem ipsum</div>
                    <div class="works-cards__text">
                        Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                    </div>
                </div><!-- /.works-cards__item -->
                <div class="works-cards__item col-xl-6 col-lg-8 ml-auto mr-auto">
                    <div class="works-cards__box">
                        <svg class="works-cards__icon">
                            <use xlink:href="#works-gear"></use>
                        </svg>
                    </div>
                    <div class="works-cards__title">lorem ipsum</div>
                    <div class="works-cards__text">
                        Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                    </div>
                </div><!-- /.works-cards__item -->
                <div class="works-cards__item col-xl-6 col-lg-8 ml-auto mr-auto">
                    <div class="works-cards__box">
                        <svg class="works-cards__icon">
                            <use xlink:href="#works-star"></use>
                        </svg>
                    </div>
                    <div class="works-cards__title">lorem ipsum</div>
                    <div class="works-cards__text">
                        Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat.
                    </div>
                </div><!-- /.works-cards__item -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.works-cards -->

</section>
