.title__title {
    font-size: 30px;
    font-weight: 700;
    color: $black;

    text-align: center;
}

.title__title--white {
    color: $white;
}

.title__suptitle {
    margin-top: 18px;

    color: $light-black;
    font-style: italic;
    font-weight: normal;
    font-family: Georgia,Times,Times New Roman,serif;

    text-align: center;

    @media (max-width: $breakpoint-sm) {
        padding: 0 20px;
    }
}

.title__suptitle--grey {
    color: #e7e7e7;
}

.title__suptitle--white {
    color: $white;
}
